<!-- whatever exists in this file will be injected to  "main.handlebars" -->

<form action="/weather" method='POST'>
    <input type="text" name="cityName">
    <input type="submit">
</form>

<p>Please enter the city of your choice.</p>

<h3>{{ weatherText }}</h3>